<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<base href="{$site.WEB_ROOT}"/>
	<title>产品详情页</title>
	<css href="__CSS__/swiper.min.css" />
	<css href="__CSS__/layui.css" />
	<css href="__CSS__/bootstrap.min.css" />
	<css href="__CSS__/foot.css" />
	<css href="__CSS__/style1.css" />
</head>

<body>
	<div class="box">
		<!-- 顶部 -->
		<div class="topBox" <notempty name="info[bgpic]">style="background: url('{$upWholeUrl}{$info.bgpic}');"<else/> style="background: url('/Public/Home/Images/top_banner.png');"</notempty>>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="title">
							<notempty name="info[title]"><h1>{$info.title}</h1></notempty>
							<notempty name="info[summary]"><h6>{$info.summary}</h6></notempty>
						</div>
					</div>
				</div>
			</div>
			<div class="hrefList">
				<ul>
					<li>
						<a class="scroll" href="{:U('Product/lists',array('id'=>$info['id']))}#fangAnBox">产品概述</a>
						<i></i>
					</li>
					<li>
						<a class="scroll" href="{:U('Product/lists',array('id'=>$info['id']))}#gongnengBox">主要功能</a>
						<i></i>
					</li>
					<li>
						<a class="scroll" href="{:U('Product/lists',array('id'=>$info['id']))}#changJingBox">应用场景</a>
						<i></i>
					</li>
					<li>
						<a class="scroll" href="{:U('Product/lists',array('id'=>$info['id']))}#keHuAnLiBox">客户案例</a>
						<i></i>
					</li>
				</ul>
			</div>
		</div>

		<!-- 方案概述 -->
		<div class="container">
			<div class="row">
				<div class="fangAnBox  col-sm-12 col-md-12 col-lg-12" id="fangAnBox">
					<div class="fangAn">
						<div class="title">产品概述</div>
						<div class="swiper-container" id="swiper1">
							<div class="swiper-wrapper">
								<foreach name="info[type_0]" item="vo">
									<div class="swiper-slide">
										<h2>{$vo[1]}</h2>
										<p>{$vo[2]}</p>
										<img src="{$upWholeUrl}{$vo[0]}" alt="{$vo[1]}">
									</div>
								</foreach>
							</div>
							<!-- Add Pagination -->
							<!-- <div class="swiper-pagination"></div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<!-- 主要功能 -->
		<div class="container">
			<div class="row ">
				<div class="gongnengBox  col-sm-12 col-md-12 col-lg-12" id="gongnengBox">
					<div class="gongneng">
						<div class="title">主要功能</div>
						<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
							<ul class="layui-tab-title">
								<foreach name="info[type_1]" item="vo" key="k">
								<li <eq name="k" value="1">class="layui-this"</eq>>{$vo[1]}</li>
								</foreach>
							</ul>
							<div class="layui-tab-content">
								<foreach name="info[type_1]" item="vo" key="k">
								<div <eq name="k" value="1">class="layui-tab-item layui-show"<else/>class="layui-tab-item"</eq>>
									<div class="content ng-star-inserted">
										<div class="content-box">
											<h2>{$vo[1]}</h2>
											<p class="ng-star-inserted">
												{$vo[2]|msubstr=###,0,125,'utf-8'}
											</p>
										</div>
										<div class="img-box"><img alt="{$vo[1]}" src="{$upWholeUrl}{$vo[0]}"></div>
									</div>
								</div>
								</foreach>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- 应用场景 -->
		<div class="container">
			<div class="row">
				<div class="changJingBox  col-sm-12 col-md-12 col-lg-12" id="changJingBox">
					<div class="changJing">
						<h1>应用场景</h1>
						<div class="swiper-container" id="swiper2">
							<div class="swiper-wrapper">
								<foreach name="info[type_2]" item="vo">
								<div class="swiper-slide">
									<img src="{$upWholeUrl}{$vo[0]}" alt="{$vo[1]}">
								</div>
								</foreach>
							</div>
						</div>
						<div class="changJing_content">
							<h2></h2>
							<!-- <img src="./images/changjing.png" alt=""> -->
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<!-- 客户案例 -->
		<div class="container container_active">
			<div class="row">

				<div class="keHuAnLiBox   col-sm-12 col-md-12 col-lg-12" id="keHuAnLiBox">
					<div class="keHuAnLi" style='padding:16px 0'>
						<div class="swiper-container" id="swiper3">
							<div class="swiper-wrapper">
								<foreach name="info[type_3]" item="vo">
								<div class="swiper-slide">
									<img src="{$upWholeUrl}{$vo[0]}" alt="{$vo[1]}">
								</div>
								</foreach>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 返回顶部 -->
		<div class="returnTop">
			<img src="./images/return_top.png" alt="">
		</div>
		<!-- 底部-->
		<footer class="footer">
			<div class="container">
				<div class="row footer-top">
					<div class="col-md-4 col-lg-4">
						<h4>
							<img src="http://bswqh.cn/Public/Home/skin/images/index/bailogo.png">
						</h4>
					</div>
					<div class="col-md-8  col-lg-8">
						<div class="row about">
							<div class="col-sm-8">
								<ul class="list-unstyled">
									<li><font style="font-size: 14px;color: #dfe3e8;">联系我们</font>  / CONTACT US</li>
									<li style="margin-top: 30px;">
										<font>联系我们：0352-2888602  &nbsp; </font>
										<font style="margin-left: 10px;">招商合作：18935186765</font>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<ul class="list-inline text-center foot-inline">
					<li><a href="#">京ICP备19056901号-2</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<li>Copyright © 2020-2030 版权所有：百商万企汇</li>
				</ul>
			</div>
		</footer>
	</div>
	<js href="__JS__/layui.all.js" />
	<js href="__JS__/swiper.min.js" />
	<js href="__JS__/bootstrap.min.js" />
	<js href="__JS__/jquery.js" />
	<js href="__JS__/script.js" />
</body>

</html>