* {

    margin:0;

    padding:0;

}

html, body {

    height:100%;

    font:12px/100% Verdana, Geneva, sans-serif;

    overflow:hidden;

    min-width:600px;

    min-height:500px;

	background-image: url(../Img/top-bg.png);

	background-repeat: repeat-x;

	background-position: 0px 0px;

}

* html, * html body {

    background-image:url(about:blank);

    background-attachment:fixed;

    min-width:600px;

}
.wrap {
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainBody {
	flex: 1;
	display: flex;
	overflow: auto;
}
#Top {
	display: flex;
	width: 100%;
	height:50px;
	background:#20a0ff;
	/* height:67px; */

}

.top_logo_name {
	width: 197px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color:#fff;
}

#Tags {

    height:60px;

    background:url(../Img/x-bg.gif) repeat-x left -200px;

    position:relative;

}

#Left {

	width:206px;
	height: 100%!important;

	/*    background:url(../Img/y-bg.gif) repeat-y 0 0px;*/

    /* margin-top:-12px; */

	float:left;

	position:relative;

	background-color: #FFF;
	
	overflow-x:hidden;

    /* overflow-y:scroll; */

}

#Right {

    overflow-x:hidden;

    overflow-y:scroll;

    float:right;

    padding-right: 10px;
	
	height: 100%!important;
    /* width: 1108px; */
	
	padding-left: 10px;
	background: #fff;

}

#Bottom {

    line-height:20px;

    bottom:0;

    background: #F9F7EA;

    border-top: 1px solid #EFE6BB;

    bottom: 0;

    color: #B9DDFF;

    font-size: 11px;

    text-align: center;

    position: fixed;

    width:100%;

}
#Right form {
	/* margin-bottom: 50px; */
}
/*#Right .contentArea { padding-bottom:80px;}*/

.commonBtnArea {

    border-top:1px solid #D8D8D8;

    padding:10px 20px;

    background:#F5F5F5;

    right:16px;

    bottom:0px;

    position: fixed;
	
	z-index: 999;

    /*width:100%;*/

}

#Left .QRcode{ position: absolute; left: 0; bottom: 5px; text-align: center; width: 100%;}

/* header */

.logo {

    position:absolute;

    left:0px;

    top:0px;

    width:220px;

    height:65px;

    line-height:65px;

    overflow:hidden;

    text-align:left;

    vertical-align:bottom;

}

.logo img { vertical-align:bottom; margin: 5px 0 0 10px; }

/*.help {

    position:absolute;

    right:50px;

    top:0px;

    width:163px;

    height:23px;

    line-height:20px;

    overflow:hidden;

    background:url(../Img/help-bg.gif) no-repeat;

    text-indent:40px;

}

.help a { color:#333; }

.help span { margin-left:30px; }*/

.tool {

    position:absolute;

    right:50px;

    top:0px;

    width:190px;

    height:23px;

    line-height:20px;

    overflow:hidden;

    background:url(../Img/help-bg.gif) no-repeat;

    text-indent:15px;

}

.tool a { color:#333; }

.tool span { margin-left:5px; }

.tool .sysSet span {

    width:12px;

    width:18px;

    margin:0px 3px;

    display: inline-block;

    background:url(../Img/ico.gif) -5px 0px no-repeat;

}

.tool .loginOut { margin-left:10px; }

.tool .loginOut span {

    width:12px;

    width:18px;

    margin:0px 3px;

    display: inline-block;

    background:url(../Img/ico.gif) -25px 2px no-repeat;

}

.menu {

	position:absolute;

	height:50px;

	line-height:50px;

	margin-left: 0px;

	margin-top:0px;

	width: 100%;


}

.menu ul {

	height:50px;

}

.menu li {

    min-width:70px;

    float:left;

    text-align:center;

}

.menu li a {

	color: rgba(255,255,255,.7);

	font-size: 15px;

}

.menu li.current a, .menu li.fisrt_current a, .menu li.end_current a {

    color:#fff;

    text-shadow: none;

}




/*.menu li.current, .menu li.fisrt_current, .menu li.end_current {

    background: url(../Img/menu-current.gif) no-repeat left -70px;

    padding-left:20px;

}*/

.menu li.current span, .menu li.fisrt_current span {

    /* background: url(../Img/arrow-active.png) no-repeat 0px 0px; */

    padding-right:0px;

	min-width:100px;

}

.menu li.fisrt_current { background-position: left -0px;

                         padding-left:0px;}

.menu li.end_current { background-position: left -35px;

                       padding-left:0px;}

.menu li.end_current span { 
	/* background: url(../Img/arrow-active.png) no-repeat 0px 0px; */
    /* padding-right:0px;  */
}

.exsit{
	position: absolute;
    right: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    cursor: pointer;
}
.exsit a{
	color:#fff;
}
/* /header */

#Tags .userPhoto {

	height:60px;

	width:228px;

	position:absolute;

	left:0;

	top:0;

	z-index:2;

	background-image: url(../Img/userInfo-bg.gif);

	background-repeat: no-repeat;

	background-position: right 0px;

}

#Tags .userPhoto img {

    margin:8px 0 0 9px;

    width:45px;

    height:45px;

}

#Tags .navArea {

    width:100%;

    color:#333;

}

#Tags .navArea .userInfo {

    text-shadow: 0 1px 0 #fefefe;

    line-height: 26px;

    margin-left:10px;

    top:0;

    z-index:3;

    position: absolute;

    width:100%;

}

#Tags .navArea .userInfo div {

    float:right;

    width:auto;

    line-height:20px;

    margin-right:130px;

}

#Tags .navArea a { color:#333; }

#Tags .nav {

    line-height:22px;

    background: #f2f2f2;

    margin-left:228px;

    position: absolute;

    bottom: 12px;

    left: 0;

    z-index: 5;

    width: 100%;

}

#Tags .nav font {

    width:190px;

    display:inline-block;

    line-height:18px;

    color:#ccc;

    text-align:center;

    margin:0 50px 0 -235px;

}

#Tags .nav span {

    float:right;

    color:#f00;

    line-height:30px;

}

#Tags .userFunction a { color:#ccc; }

#Tags .navArea .userInfo div .sysSet span {

    width:12px;

    width:18px;

    margin:0px 5px;

    display: inline-block;

    background:url(../Img/ico.gif) -5px 0px no-repeat;

}

#Tags .navArea .userInfo div .loginOut { margin-left:15px; }

#Tags .navArea .userInfo div .loginOut span {

    width:12px;

    width:18px;

    margin:0px 5px;

    display: inline-block;

    background:url(../Img/ico.gif) -25px 2px no-repeat;

}

#Left #control {

	position:absolute;

	right:0px;

	top:0;

	width:9px;
	
	height: 100%!important;

	cursor:pointer;

	background-color: #EFEFEF;

	background-image: url(../Img/control-bg.gif);

	background-repeat: no-repeat;

	background-position: left center;

}

#Left #control.close {

    position:absolute;

    right:0px;

    top:0;

    background:url(../Img/control-bg.gif) no-repeat right center;

}

#Left .subMenuList { width:197px; }

#Left .itemTitle {

    width:197px;

    background:url(../Img/item-bg.gif) no-repeat left top;

    padding-top: 12px;

    line-height:36px;
	

    text-indent:50px;

}

#Left li {

    line-height:40px;

    text-indent:30px;

    /* border-bottom:1px solid #eeeeee; */

}


#Left ul>li>a {

    background: url(../Img/ico-y.gif) no-repeat 15px 17px; 

    color:#32415a;

    display:block;
	
	border-bottom:1px solid #eeeeee;
	
	font-size: 14px;
}


#Left li .child_list a{
	padding-left: 15px;
	
	color:#32415a;

    display:block;
	
	border-bottom:1px solid #eeeeee;
	
	font-size: 14px;
}

