<meta name="viewport" content="width=1200,initial-scale=1.0"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="edge" />
<base href="{$site.WEB_ROOT}"/>
<css href="{$site.WEB_ROOT}Public/Min/?f=__CSS__/base.css|__CSS__/layout.css|__CSS__/common.css|--PUBLIC--/Js/asyncbox/skins/default.css{$addCss}"/>
<css href="--PUBLIC--/Css/pop_status.css"/>
<js href="{$site.WEB_ROOT}Public/Min/?f=--PUBLIC--/Js/jquery-1.9.0.min.js|--PUBLIC--/Js/functions.js|__JS__/base.js|--PUBLIC--/Js/jquery.form.js|--PUBLIC--/Js/asyncbox/asyncbox.js{$addJs}"/>
<js href="--PUBLIC--/Js/pop_status.js"/>