<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>产品管理-扩展管理-{$site.SITE_INFO.name}
        </title>
        <php>
            $currentNav ='扩展管理 > 产品 > 列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
              <div id="Right">
                <div class="Item hr clearfix">
                  <div class="current">产品</div>
                  <div style="float:right; margin-top:6px;"><a href="{:U('Extend/product_add')}" class="sbtn on">添加产品</a></div>
                </div>
 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                      <thead>
                          <tr>
                              <td width="4%">ID</td>
                              <td width="70%" style="text-align: left;">名称</td>
                              <td width="8%">排序</td>
                              <td width="8%">内容</td>
                              <td width="6%">操作</td>
                          </tr>
                      </thead>
                      <volist name="list" id="vo">
                          <tr align="center" id="{$vo.id}">
                              <td>{$vo.id}</td>
                              <td align="left">{$vo.title}</td>
                              <td align="center">
                                <div class="ajax_order">
                                    <a class="rising" href="javascript:void(0)">加</a>
                                    <span class="input" aid="{$vo.id}">{$vo.sort}</span>
                                    <a class="drop" href="javascript:void(0)">减</a>
                                </div>
                              </td>
                              <td><a href="__URL__/product_detail_edit?tp=0&product_id={$vo.id}">概述</a> ┆ <a href="__URL__/product_detail_edit?tp=1&product_id={$vo.id}">应用</a> ┆ <!-- <a href="__URL__/product_detail_edit?tp=2&product_id={$vo.id}">可视化</a> ┆  --><a href="__URL__/product_detail_edit?tp=3&product_id={$vo.id}">案例</a></td>
                              <td align="center"><a href="__URL__/product_detail_add?id={$vo.id}">添加</a> ┆ <a href="__URL__/product_edit?id={$vo.id}">编辑</a></td>
                          </tr>
                      </volist>
                  </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
        <script type="text/javascript">
        $(function(){
    				//异步编辑排序字段
    				$('.ajax_order a').on("click",function(){
    					var odType = $(this).attr('class');
    					var odShow = $(this).parents('.ajax_order').children('.input');
    					var odVal = odShow.html();
    					var odAid = odShow.attr('aid');
    					$.post("{:U('Index/sort')}",{'tp':0,'odType':odType,'odAid':odAid},function(data){      //ajax后台
    						if (data.status) {
    							if(odType == 'rising'){
    								odShow.html(parseInt(odVal) + 1);
    							}else if(odType == 'drop'){
    								odShow.html(parseInt(odVal) - 1);
    							}
    							
    						} else {
    							popup.error(data.msg);
    						}
    					},'json');        
    				});
    				
    				//删除
    				$(".del").click(function(){
    					var id = $(this).attr("data");
    					if(!id){
    						alert("出现错误，请刷新后重试")
    						return false;
    					}
    					popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
    						if(action == 'ok'){
    							$delurl = "{:U('Extend/del')}";
    							$.post($delurl,{id:id},function(data) {
    								if (data.status==1){
    									popup.success(data.info);
    									setTimeout(function(){
    										location.reload();
    									},1000)
    								}else {
    									popup.success(data.info);
    								}
    							},'json');
    							
    						}
    					});
    					return false;
    				})

            //异步编辑排序字段
            $('.ajax_order a').on("click",function(){
              var odType = $(this).attr('class');
              var odShow = $(this).parents('.ajax_order').children('.input');
              var odVal = odShow.html();
              var odAid = odShow.attr('aid');
              $.post("{:U('Extend/product_sort')}",{'odType':odType,'odAid':odAid},function(data){      //ajax后台
                if (data.status) {
                  if(odType == 'rising'){
                    odShow.html(parseInt(odVal) + 1);
                  }else if(odType == 'drop'){
                    odShow.html(parseInt(odVal) - 1);
                  }
                  
                } else {
                  popup.error(data.msg);
                }
              },'json');        
            });

    			});            
        </script>
    </body>
</html>
